{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'test.css' %}">
</head>
<body>
    <div>
        <header>
            <div>
                <span> {{username}} </span>
            </div>
            <hr>
            <span>{{msg}}</span>

            <div>
                <span>
                    Questions {{question.qid}}
                </span>
            </div>
        </header>
    </div>

    <main>
        <form class="card">

            <input type="hidden" name="qid" value="{{question.qid}}">
            <input type="hidden" name="qtext" value="{{question.qtext}}">
            <input type="hidden" name="answer" value="{{question.correct_answer}}">
            <input type="hidden" name="subject" value="{{question.subject}}">

            <div>
                <h4>{{question.qid}}</h4>
                <p>{{question.qtext}}</p>

                <input type="hidden" name="subject" value="{{question.subject}}">


            <div>
                
                <label class="option">
                    <input class="first" type="radio" name="user_ans" value="{{question.qoption1}}">
                    <span>{{question.qoption1}}</span>
                </label>
            </div>

            <div >
                <label class="option">
                    <input class="second" type="radio" name="user_ans" value="{{question.qoption2}}">
                    <span>{{question.qoption2}}</span>
                </label>
            </div>

            <div>
                
                <label class="option">
                    <input class="third" type="radio" name="user_ans" value="{{question.qoption3}}">
                    <span>{{question.qoption3}}</span>
                </label>
            </div>

            <div>
                
                <label class="option">
                    <input  class="fourth" type="radio" name="user_ans" value="{{question.qoption4}}">
                    <span>{{question.qoption4}}</span>
                </label>
            </div>

    

                <div>
                    <button class="previous" type="submit" formaction="/previousquestion/">Previous</button>
                    <button class="next" type="submit" formaction="/nextquestion/">Next</button>
                    <button class="end" type="submit" formaction="/endtest">End Test</button>
                </div>
            </div>

        </form>
    </main>
</body>
</html>